:root{
    --color_4:#876a32;
    --color_1:#00bff3;
    --color_6:#fff79a;
    --color_9:#f4989d;
    }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, var(--color_9), var(--color_1));
    color: #fff;
}

.contenedor {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.seccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    scroll-snap-align: start;
}

.imagen {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.contenido {
    width: 60%;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

.contenido span{
    color: var(--color_6);
}